# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
generated/

# env
.env
.env.local
.env*.local

# turbo
.turbo/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/
*.tsbuildinfo

# prisma
apps/api/prisma/*.db
